:root{
    --white: #FFF;
    --black: #111111;
    --gray: #343A40;
    --fontMain: 'Raleway', sans-serif;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    font-family: var(--fontMain);
    line-height: 1.8;
}
h1, h2, h3 {
    font-weight: 900;
    line-height: 1.2;
    margin: 1rem 0 4rem 0;
}
h1{
    font-size: 4.8rem;
}
h2 {
    font-size: 5.8rem;
}
h3 {
    font-size: 5rem;
}
a {
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
}
.text-center{
    text-align: center;
}
.no-margin{
    margin: 0;
}
.mt-5{
    margin-top: 5rem;
}
.container{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
.btn{
    background-color: var(--white);
    color: var(--gray);
    border: 1px solid var(--gray);
    padding: 1rem;
    transition: background-color .3s;
}
.btn:hover{
    background-color: var(--gray);
    color: var(--white);
}

/* Header */
.header{
    background-image: url(../img/hero.jpg);
    min-height: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: var(--white);
}
.site-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(60rem - 1rem);
    padding: 3rem;
}
@media (min-width: 768px){
    .nav-bar{
        display: flex;
        justify-content: space-between;
    }
}
.logo h1{
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 300;    
}
@media (min-width: 768px){  
    .logo h1{
        font-size: 4.8rem;
    }    
}
.logo span{
    font-weight: 900;
}
.tel{
    color: var(--white);
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}
@media (min-width: 768px){
    .tel{
        justify-content: flex-end;
    }
}
.tel::before{
    content: '';
    display: block;
    width: 3rem;
    height: 3rem;
    background-image: url(../img/telefono.png);
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    margin-right: 1rem;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    width: 100%;
}
@media (min-width: 768px){
    .nav{
        flex-direction: row;
        justify-content: space-between;
    }
    .nav a{
        padding: 1rem;
    }

}
.nav a{
    color: var(--white);
    padding: 1rem;
    text-align: center;
    width: 100%;
    transition: background .3s;
}
.nav a:hover{
    background: rgb(255 255 255 / .6);
    color: var(--black);
}
.slogan{
    text-align: center;
}
@media (min-width: 768px){
    .slogan{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}
.slogan h1{
    font-size: 3rem;
}
@media (min-width: 768px){
    .slogan h1{
        font-size: 4.8rem;
    }
}

/* About-us */
.about-us{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-image: url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-top: 5rem;
}
@media (min-width: 992px){
    .about-us{
        grid-template-columns: repeat(3, 1fr)
    }
}
.site-about{
    background-color: var(--white);
}
@media (min-width: 992px){  
    .site-about{
        padding: 1rem;
        grid-column: 2 / 4;
    }
}

/* Main */
.title-main{
    margin: 2rem 0;
    font-size: 3rem;
}
@media (min-width: 768px){
    .title-main{
        font-size: 5.8rem;
    }
}
.model{
    display: grid;
    grid-template-rows: repeat(2, 1fr) ;
    background-color: var(--white);
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: 4rem;
}
.model:last-of-type{
    margin-bottom: 0;
}
@media (min-width: 768px){
    .model{
        grid-template-columns: repeat(2, 1fr);
    }
}
.model-site{
    padding: 5rem;
    background-color: var(--white);
}
.basic{
    background-image: url(../img/modelo_basico.jpg);
}
@media (min-width: 768px){
    .basic .model-site{
        grid-row: 2 / 3;
        padding: 2rem 2rem 2rem 0;
    }
    .basic{
        background-position: top right;
    }
}
.premier{
    background-image: url(../img/modelo_premier.jpg);
}
@media (min-width: 768px){
    .premier .model-site{
        padding: 2rem;
        grid-column: 2 / 3;
    }
    .premier{
        background-position: top left;
    }
}
.elite{
    background-image: url(../img/modelo_elite.jpg);
}
@media (min-width: 768px){
    .elite .model-site{
        padding: 2rem 2rem 2rem 0;
    }
    .elite{
        background-position: top right;
    }
}

/* Gallery */
.gallery-site{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:2rem;
}
@media (min-width: 768px){
    .gallery-site{
        grid-template-columns: repeat(3, 1fr);
    }
}
.gallery-site img{
    object-fit: cover;
    height: 100%;
}
.image:nth-child(2){
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
@media (min-width: 768px){
    .image:nth-child(2){
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
}
.image:nth-child(3){
    grid-row: 3 / 5;
    grid-column: 2 / 3;
}
@media (min-width: 768px){
    .image:nth-child(3){
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}
.image:nth-child(6){
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}
@media (min-width: 768px){
    .image:nth-child(6){
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }
}

/* Footer */
.footer{
    margin-top: 5rem;
    background-image: url(../img/footer_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.footer p{
    text-align: center;
    margin-bottom: 0;
    font-size: 2rem;
    padding: 1rem;
    color: var(--white);
    background-color: var(--black);
}